@use 'variables' as *;

.shadowed {
    text-shadow: 0px 3px 6px #00000029;
}

.text- {
    &uppercase {
        text-transform: uppercase;
    }
    // Colors
    &primary {
        color: $color-primary;
    }
    &white {
        color: #fff;
    }
    &black {
        color: #000;
    }
}

[class^="display-"] {
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
}

.display-1 {
    font-size: calc(1.625rem + 4.5vw);
}

.display-2 {
    font-size: calc(1.575rem + 3.9vw);
}

.display-3 {
    font-size: calc(1.525rem + 3.3vw);
}

.display-4 {
    font-size: calc(1.475rem + 2.7vw);
}

.display-5 {
    font-size: calc(1.425rem + 2.1vw);
}

.display-6 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    .display-1 {
        font-size: 5rem;
    }

    .display-2 {
        font-size: 4.5rem;
    }

    .display-3 {
        font-size: 4rem;
    }

    .display-4 {
        font-size: 3.5rem;
    }

    .display-5 {
        font-size: 3rem;
    }

    .display-6 {
        font-size: 2.5rem;
    }
}