// Colors
$color-body: #FFFDF4;
$color-primary: #F05729;
$color-secondary: #86CED7;
$color-yellow: #F1EC5F;
$color-green: #085A42;
$color-gray: #1D1D1D;
$color-black: #000000;
$color-blue-1: #85CED6;

// Layout Grid
$gutter-width: 1rem;
$outer-margin: 2rem;
$gutter-compensation: calc(($gutter-width * 0.5) * -1);
$half-gutter-width: calc($gutter-width * 0.5);
$xs-min: 30;
$sm-min: 48;
$md-min: 64;
$lg-min: 75;
$screen-xs-min: #{$xs-min}em;
$screen-sm-min: #{$sm-min}em;
$screen-md-min: #{$md-min}em;
$screen-lg-min: #{$lg-min}em;
$container-sm: calc($sm-min + $gutter-width);
$container-md: calc($md-min + $gutter-width);
$container-lg: calc($lg-min + $gutter-width);